@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	background-image: url('page-bg.png');
    background-size: cover;
    background-position: center;
}

.bg-custom {
    background-image: url('page-bg.png');
    background-size: cover;
    background-position: center;
}